{% extends 'base.html' %}

{% block title %}
    {{ super() }} - Calories Form
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="title">Begin Your Journey to Health</h2>
        <p>Enter your vital information in the form below to discover your personalized calorie plan.<br>Simply click 'Calculate' to initiate the process. Let us guide you towards your path to optimal well-being.</p>

        <form action="{{ url_for('calories_form_view') }}" method="post">
            {{ caloriesform.hidden_tag() }}  <!-- This includes the CSRF token -->

            <!-- Gender Field -->
            <div>
                {{ caloriesform.gender.label }} {{ caloriesform.gender() }}
                {% if caloriesform.gender.errors %}
                    <ul class="errors">
                        {% for error in caloriesform.gender.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Weight Field -->
            <div>
                {{ caloriesform.weight.label }} {{ caloriesform.weight() }}
                {% if caloriesform.weight.errors %}
                    <ul class="errors">
                        {% for error in caloriesform.weight.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Height Field -->
            <div>
                {{ caloriesform.height.label }} {{ caloriesform.height() }}
                {% if caloriesform.height.errors %}
                    <ul class="errors">
                        {% for error in caloriesform.height.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Age Field -->
            <div>
                {{ caloriesform.age.label }} {{ caloriesform.age() }}
                {% if caloriesform.age.errors %}
                    <ul class="errors">
                        {% for error in caloriesform.age.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Country Field -->
            <div>
                {{ caloriesform.country.label }} {{ caloriesform.country() }}
                {% if caloriesform.country.errors %}
                    <ul class="errors">
                        {% for error in caloriesform.country.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- City Field -->
            <div>
                {{ caloriesform.city.label }} {{ caloriesform.city() }}
                {% if caloriesform.city.errors %}
                    <ul class="errors">
                        {% for error in caloriesform.city.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Submit Button -->
            <div>
                {{ caloriesform.submit() }}
            </div>
        </form>

        {% if daily_calorie_intake %} 
            <div class="result">
                <p>You need {{ daily_calorie_intake }} calories (kcal) today</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
