{% extends 'base.html' %}

{% block title %}
    {{ super() }} - Form
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="title">Begin Your Journey to Health</h2>
        <p>Enter your vital information in the form below to discover your personalized calorie plan.<br>Simply click 'Calculate' to initiate the process. Let us guide you towards your path to optimal well-being.</p>

        <form action="{{ url_for('calorie_form_view') }}" method="post">
            {{ calorieform.hidden_tag() }}  <!-- This includes the CSRF token -->

            <!-- Gender Field -->
            <div>
                {{ calorieform.gender.label }} {{ calorieform.gender() }}
                {% if calorieform.gender.errors %}
                    <ul class="errors">
                        {% for error in calorieform.gender.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Weight Field -->
            <div>
                {{ calorieform.weight.label }} {{ calorieform.weight() }}
                {% if calorieform.weight.errors %}
                    <ul class="errors">
                        {% for error in calorieform.weight.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Height Field -->
            <div>
                {{ calorieform.height.label }} {{ calorieform.height() }}
                {% if calorieform.height.errors %}
                    <ul class="errors">
                        {% for error in calorieform.height.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Age Field -->
            <div>
                {{ calorieform.age.label }} {{ calorieform.age() }}
                {% if calorieform.age.errors %}
                    <ul class="errors">
                        {% for error in calorieform.age.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Country Field -->
            <div>
                {{ calorieform.country.label }} {{ calorieform.country() }}
                {% if calorieform.country.errors %}
                    <ul class="errors">
                        {% for error in calorieform.country.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- City Field -->
            <div>
                {{ calorieform.city.label }} {{ calorieform.city() }}
                {% if calorieform.city.errors %}
                    <ul class="errors">
                        {% for error in calorieform.city.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Submit Button -->
            <div>
                {{ calorieform.submit() }}
            </div>
        </form>

        {% if daily_calorie_intake %} 
            <div class="result">
                <p>You need {{ daily_calorie_intake }} calories (kcal) today</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
